/**!! GENERAL STYLES !!**/
html, body {height: 100%; width: 100%;max-width: 100%;}
html {
    background: url("../imgs/app/bg.jpg") no-repeat center fixed;
    background-size: cover;
}
html, body, section {overflow: hidden;}
* {margin: auto;}
body {font-size: 14px;}
/*!! ELEMENT ELEVATION ## SEE MATERIAL GUIDELINES !!**/
.card {z-index: 2;}
.toolbar {z-index: 4;}
.snackbar {z-index: 6;}
.modal {z-index: 16;}
/**!! PRE-SET STYLE CLASSES !!**/
.padding_long {padding: 24px 8px;}
.padding_16 {padding: 16px;}
.padding_8 {padding: 9px;}
.margin_tb_24 {margin: 16px auto;}
.margin_16 {margin: 16px;}
.margin_8 {margin: 8px;}
.margin_4 {margin: 4px;}
.margin_0 {margin: 0;}
.center {margin: auto;}
.circle {border-radius: 50%;}
.half_width {width: 50%;}
.full_width, header, .views_container, footer, .modal {width: 100%;}
.full_size {width: 100%; height: 100%; max-height: 100%;}
.flex_1 {flex: 1;}
.flex_2 {flex: 2;}
.flex_3 {flex: 3;}
.flex_container, .flex_col_container {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flex_col_container {flex-direction: column;}
/**!! BASIC WEB-APP LAYOUT
	> HEADER AND NAVIGATION BAR !!**/
header {
	height: 7%;
	/*max-height: 64px;*/
	background-color: rgb(66, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
header form {width: 30%;}
header form input {text-align: left;margin: 0;}
header form button {margin-left: 0;}
header form input + button {display: none;}
header form input:focus {width: 80%; background: white; color: black;}
header form input:focus + button {display: block;}
nav {align-self: flex-end;margin-right: 0;flex-wrap: nowrap;-webkit-flex-wrap: nowrap;}
.branding, nav {width: auto; height: 100%; max-height: 100%;}
.branding {align-self: flex-start; margin-left: 2%;}
.branding .brand_logo_sm {height: 95%; width: auto;}
/**!! MAIN VIEW CONTAINER !!**/
.views_container {height: 86%;}
.page {height: 100%; max-height: 100%;}
/**!! FOOTER !!**/
footer {height: 7%; background: black; color: white;}
/**!! BASIC BUTTONS !!**/
button, footer, .logo_text, .btn, input {color: white;}
button, h1, h2, h3, p, .btn, a, input {text-align: center;}
.btn, button, input, a {
	text-decoration: none;
	background: none;
	outline: none;
	border: none;
	box-sizing: border-box;
	transition: all 0.3s;
	padding: 12px 28px;
}
button, .btn, .btn_round {color: #992030;text-transform: uppercase;font-weight: bold;}
.branding:hover, .btn:hover, button:hover, a:hover {cursor: pointer;}
.btn i, button i {font-size: 24px;width: 24px;height: 24px;}
/** THEME CLASSES **/
.theme {color: #992030;background: white;border: 2px solid transparent;}
.theme_inverse {color: white;background: #992030;border: 2px solid transparent;}
.theme_link {color: white;background: none;border-bottom: 2px solid transparent;}
.theme:hover {background: #992030; color: white;}
.theme_inverse:hover {color: #992030;background: none;}
.theme_link:hover {color: #992030;background: white;}
/** BASIC FORMS **/
form {color: white;border-radius: 2px;background-color: transparent;}
form .actions {width: 60%;}
form .actions a {font-size: small;width: 50%;}
input {width: 60%;margin: 8px auto;padding: 12px 20px;border-bottom: 2px solid transparent;}
input:required:invalid {border-color: #992030;width: 57%;}
input:required:focus {border: 1px dashed white;width: 60%;}
input:required:valid {border-color: forestgreen;width: 60%;}
input[type=submit] {color: white;border: 2px solid #992030;background-color: rgba(153, 32, 48, 0.4);}
input[type=submit]:hover {background-color: rgba(153, 32, 48, 1);}
label, .account_actions {width: 60%;}
form[name=register] {display: none;}
/**!! LOGIN/REGISTRATION !!**/
#app_access {position: fixed;height: 100%;width: 100%;}
#app_access .col {
	background: rgba(0,0,0,0.8);
	width: 60%;
	max-width: 600px;
	border-radius: 4px;
}
/**!! MAIN CONTAINER !!**/
/*#browser_page {height: 100%;max-height: 100%;width: 100%;}*/
/**!! MATERIAL-DESIGN-LIKE CARDS !!**/
.card, .modal {font-family: 'Cinzel Decorative';font-size: 14px;}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: auto;
	color: black;
	background: white;
	border-radius: 2px;
	transition: 0.5s;
}
.card img {width: 160px; height: 160px;}
.card p {margin: 8px auto;}
.mini_profiles_view {width: 90%;overflow: auto;max-height: 80%;}
.mini_profiles_view .card {margin: 8px;}
.mini_profiles_view .card:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
/**!! MODAL !!**/
.modal {
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	padding-top: 100px;
	background-color: rgba(0,0,0,0.8);
}
.modal_content {margin: auto; width: 50%;background-color: white;}
.modal_content img {width: 100%;height: auto;max-width: 300px;flex-wrap: nowrap;}
.modal_content .card {width: auto;max-width: 100%;height: auto;}
.modal_content .card p {margin: auto;text-align: center;}
.modal_content .modal_close {margin-right: 0;border: none;}
.modal_content .modal_close:hover {background-color: #992030;color: white;}
/*.modal_content .card p span {font-style: normal;}*/
/**!! SIGNED-IN USER PROFILE !!**/
.profile_view {background: white;color: black;width: 80%;min-height: 95%;padding: 16px;}
.profile_view .card {width: 100%;height: auto;}
.profile_view .col {width: 40%;}
.profile_view form {color: black;}
.profile_view label {width: 30%;font-weight: bold;}
.profile_view input {
	width: 60%;color: black; border-bottom: 1px solid #992030;text-align: left;}
.profile_view input:disabled {border: none;text-wrap: normal;}
/*.profile_view form {color: black;}*/
.profile_view fieldset {border: none; width: 80%}
.profile_gallery img {max-width: 100px;max-height: 100px;margin: 4px;flex: 1;}
.profile_view .profile_gallery {padding: 18px;}
.profile_view .edit_actions {display: none;transition: all 0.6s;}
/**!! LOADER !!**/
#app_loader_cont {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}
#loader {
	border: 16px solid #992030;
	border-top: 16px solid rgba(0,0,0,0.5);
	border-radius: 50%;
	max-width: 150px;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
/**!! ANIMATIONS AND TRANSITIONS !!**/
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@keyframes fadePage {
	from {opacity: 0;}
	to {opacity: 1;}
}
