/**!! GENERAL STYLES !!**/
html, body {height: 100%;width: 100%;max-width: 100%;}
html {
    background: url("../imgs/app/bg.jpg") no-repeat center fixed;
    background-size: cover;
}
html, body, section {overflow: hidden;}
* {margin: auto;}
body {margin: 0;font-size: 14px;}
/*!! ELEMENT ELEVATION ## SEE MATERIAL GUIDELINES !!**/
.card {z-index: 2;}
.toolbar {z-index: 4;}
.snackbar {z-index: 6;}
.action_btn {z-index: 8;}
.modal, .chat_space {z-index: 16;}
/**!! PRE-SET STYLE CLASSES !!**/
.padding_long {padding: 24px 8px;}
.padding_16 {padding: 16px;}
.padding_8 {padding: 9px;}
.margin_tb_24 {margin: 16px auto;}
.margin_tb_8 {margin: 8px auto;}
.margin_16 {margin: 16px;}
.margin_8 {margin: 8px;}
.margin_4 {margin: 4px;}
.margin_0 {margin: 0;}
.center {margin: auto;}
.circle {border-radius: 50%;}
.half_width {width: 50%;}
.full_size, .full_width, header, .views_container, footer, .modal {width: 100%;}
.full_size {height: 100%; max-height: 100%;}
.flex_1 {flex: 1;}
.flex_3 {flex: 3;}
.flex_2 {flex: 2;}
.flex_container, .flex_col_container {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flex_col_container {flex-direction: column;}
.flex_inline_container {
	display: inline-flex;
	min-height: 100%;
	/*display: -moz-flex;*/
	/*display: -webkit-flex;*/
}
.hidden {display: none;}
.pos_left {margin-left: 0;}
.pos_right {margin-right: 0;}
/**!! HEADER AND NAVIGATION BAR !!**/
header {
	height: 7%;
	background-color: rgb(66, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
nav {align-self: flex-end;margin-right: 0;flex-wrap: nowrap;-webkit-flex-wrap: nowrap;}
.branding {align-self: flex-start; margin-left: 2%;}
.branding, nav {width: auto;height: 100%;max-height: 100%;}
.branding .brand_logo_sm {height: 95%;width: auto;}
/**!! MAIN VIEW CONTAINER !!**/
.home {background-color: rgba(255,255,255,0.7);}
.views_container {height: 86%;}
.intro_container {height: 15%;max-height: 15%;}
.mini_profiles_view {min-height: 85%;max-height: 85%;overflow-y: auto;}
/**!! LOGIN/REGISTRATION !!**/
.page {height: 100%;max-height: 100%;max-width: 85%;}
/**!! FOOTER !!**/
footer {height: 7%;background: black;color: white;}
/**!! BASIC BUTTONS !!**/
footer, input, .logo_text {color: white;}
button, h1, h2, h3, p, a, input, .btn {text-align: center;}
.btn, button, input, a, textarea {
	text-decoration: none;
	outline: none;
	border: none;
	padding: 12px 28px;
	box-sizing: border-box;
	transition: all 0.3s;
}
.btn {text-transform: uppercase;}
button:hover, a:hover, .branding:hover, .btn:hover {cursor: pointer;}
.btn i, button i {font-size: 24px;padding: 8px;}
nav .btn { height: 100%;}
/** BASIC FORMS **/
form {border-radius: 2px;background-color: transparent;}
form.access_form {
	color: white;
	background-color: black;
	width: 100%;
	max-width: 500px;
	height: auto;
	margin: auto;
}
form.access_form .actions {width: 90%;}
form.access_form .actions a {font-size: small;width: 50%;}
form.access_form input:required, form textarea, form[name=search] input {
	width: 90%;
	margin: 8px auto;
	padding: 12px 20px;
	background-color: transparent;
	border-bottom: 1px solid transparent;
}
form.access_form input:required:invalid {border-color: #992030;}
form.access_form input:required:focus {border: 1px solid white;}
form.access_form input:required:valid {border-color: forestgreen;}
form.access_form input[type=submit] {width: 90%;}
form label, .account_actions {width: 60%;}
textarea {width: 100%;resize: none;}
/**!! MATERIAL-DESIGN-LIKE CARDS !!**/
/*.card, .modal {font-family: 'Cinzel Decorative';font-size: 14px;}*/
.card {
    height: auto;
	color: black;
	background: white;
	border-radius: 2px;
	transition: 0.5s;
}
.card img {width: 100%; height: auto;}
.card .profile_username {font-size: large;font-weight: bold;color: white;}
.mini_profiles_view .card {
	max-width: 250px;min-width: 200px;max-height: 400px;min-height: 300px;}
.mini_profiles_view .card .card_title {
    width: 100%;background-color: rgba(0,0,0,0.6);}
.mini_profiles_view .card .profile_info:hover {cursor: pointer;}
.mini_profiles_view .card:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);}
.filters_container {height: 10%;}
/**!! MINI PROFILES !!**/
.mini_profile input[name=status]:checked + span {background: green;color: green;}
.mini_profile input[name=status] + span {background: darkred;color: darkred;}
/**!! MODAL !!**/
.modal {
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	padding-top: 100px;
	background-color: rgba(0,0,0,0.8);
}
.modal.dialog {background: none;}
.modal_content {margin: auto; width: 50%;background-color: white;}
.modal_content img {width: 100%;height: auto;max-width: 300px;flex-wrap: nowrap;}
.modal_content .card {width: auto;max-width: 100%;height: auto;}
.modal_content .card p {margin: auto;text-align: center;}
.modal_content .modal_close {margin-right: 0;border: none;}
.modal_content .modal_close:hover {background-color: #992030;color: white;}
/**!! SIGNED-IN USER PROFILE !!**/
.profile_view {background-color: rgba(255,255,255,0.9);color: black;}
.profile_view .card {width: auto;height: auto;padding: 8px;}
.profile_view .card img.circle {max-width: 300px;max-height: 300px;}
.profile_view form {color: black;}
.profile_view label {width: 100%;font-weight: bold;}
.profile_view input, .profile_view textarea {
	color: black;
	border-bottom: 1px solid #992030;
	text-align: left;
	background-color: transparent;
}
.profile_view textarea {margin: 8px auto 0;width: 100%;resize: none;}
.profile_view input:disabled, .profile_view textarea:disabled {border: none;}
/*.profile_view form {color: black;}*/
.profile_view fieldset {border: none;width: 80%}
.profile_gallery img {max-width: 100px;max-height: 100px;}
form[name=search] input[name=search] {border-bottom: 2px solid #992030;}
/**!! LOADER !!**/
#loader {
	border: 16px solid #992030;
	border-top: 16px solid rgba(0,0,0,0.5);
	border-radius: 50%;
	max-width: 150px;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
/**!! CHAT SPACE STYLES !!**/
.chat_space {position: fixed; bottom: 70px;padding: 6px;right: 20px;width: 360px;}
.chat_space .chat {
	width: 100%;
	background-color: transparent;
	margin-bottom: 10px;
	border: 1px solid #4c1018;
	height: 400px;
}
.chat_space .chat ul {list-style-type: none;padding: 4px;height: 100%;background-color: white;}
.chat_space .chat ul li {
	margin: 8px auto;
	border-right: 5px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: white;
	transition: all 0.5s;
}
.chat_space .chat ul li:hover {border-color: rgb(205, 44, 65);cursor: pointer;}
.chat_space .chat_bubble {
	background-color: white;
	color: black;
	padding: 12px 8px;
	margin-top: 8px;
	min-width: 35%;
	max-width: 80%;
	border: 1px solid #cd2c41;
	border-radius: 10px;
}
.action_btn, .chat_space .chat {box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);}
.chat_space .chat .message_bubbles {background-color: #cd2c41;}
.chat_space .chat .message_bubbles .chat_bubble.pos_right {border-bottom-right-radius: 0;}
.chat_space .chat .message_bubbles .chat_bubble.pos_left {border-bottom-left-radius: 0;}
.chat_space .chat .new_message_bar {border-top: 2px solid #4c1018;}
.chat_space .chat .new_message_bar input[type=text] {border-bottom: 2px solid #4c1018;}
.action_btn:hover {box-shadow: 0 9px 15px 0 rgba(0,0,0,0.2),0 9px 25px 0 rgba(0,0,0,0.14);}
/** THEME CLASSES **/
/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
.theme {color: #992030;background: white;border: 2px solid transparent;}
.theme_transparent {color: #992030;background-color: transparent;}
.theme:hover, .theme_transparent:hover {background: #992030; color: white;}
.theme_link {color: white;background: none;border-bottom: 2px solid transparent;}
.theme_link:hover {color: #992030;background: white;}
.theme_inverse {color: white;background: #992030;border: 2px solid transparent;}
.theme_inverse:hover {color: #992030;background: none;}
.theme_btn {color: white;background-color: #992030;}
.theme_btn:hover {box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);}
.theme_dark {color: white;background-color: #4c1018;}
.theme_toggle input[type=checkbox] + i {color: slategrey;background-color: transparent;}
.theme_toggle:hover + i, .theme_toggle input[type=checkbox]:checked + i {color: #992030;}

.padding_long {padding: 24px 8px;}
.padding_16 {padding: 16px;}
.padding_8 {padding: 8px;}
.padding_4 {padding: 4px;}

.scrollable {overflow-y: scroll;}
/**!! ANIMATIONS AND TRANSITIONS !!**/
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@keyframes fadePage {
	from {opacity: 0;}
	to {opacity: 1;}
}
