<div id="browser_page" class="flex_col_container page home">
    <!-- PAGE TITLE -->
    <div class="flex_container full_width intro_container">
        <h1 class="center flex_3 page_title">Singles near you</h1>
        <div class="flex_col_container">
            <a id="search" class="btn theme_transparant open" href="#/search">
                <i class="fa fa-search"></i>
            </a>
            <form name="search" class="flex_container padding_8" style="display: none">
                <input type="text" name="search" placeholder="Enter keyword">
            </form>
        </div>
    </div>

    <!-- CONTAINER FOR MINI PROFILE CARDS -->
    <div id="profiles" class="flex_container full_width mini_profiles_view">
        <!-- MINI PROFILE CARD TEMPLATE -->
        <div class="card_container mini_profile center padding_8">
            <div class="flex_col_container card">
                <div class="flex_col_container profile_info">
                    <img src="imgs/app/avt.svg" id="profile_img"/>
                    <div class="flex_container card_title center">
                        <p class="profile_username center"></p>
                    </div>
                </div>
                <div class="flex_container card_actions pos_right">
                    <label class="btn theme_toggle">
                        <input type="checkbox" name="profile_like" hidden>
                        <i class="fa fa-heart"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PROFILE VIEWING MODAL -->
<div class="modal full_size">
    <!-- MODAL'S CONTENT CONTAINER -->
    <div class="flex_col_container modal_content">
        <button class="theme btn modal_close">
            <i class="fa fa-close"></i>
        </button>
        <div class="margin_tb_24 flex_container">
            <h1 class="center info_uname"></h1>
        </div>
        <div class="flex_container">
            <div class="flex_col_container padding_8 flex_1">
                <img src="imgs/app/avt.svg" class="circle center info_dp">
            </div>
            <div class="flex_2 flex_col_container">
                <div class="card padding_long margin_4">
                    <p><b>First-name: </b><span class="info_fname"> Kenneth </span></p>
                    <p><b>Last-name: </b><span class="info_lname"> Dean </span></p>
                    <p><b>Sex: </b><span class="info_sex"> Male </span></p>
                    <p><b>I like: </b><span class="info_pref"> Women </span></p>
                    <p><b>About me: </b>
                        <textarea class="info_bio" placeholder="I 'match-ya'" disabled></textarea>
                    </p>
                </div>
                <div class="card padding_8 margin_4">
                    <p><b>Likes: </b><span class="profile_likes"> 19 </span></p>
                    <p><b>Matches: </b><span class="profile_matches"> 9 </span></p>
                    <p><b>Rating: </b><span class="profile_rating"> 7/10 </span></p>
                </div>
                <br>
                <div class="padding_8">
                    <button class="theme btn">
                        <i class="fa fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>