<div id="browser_page" class="flex_container page home">
    <!-- PAGE TITLE -->
    <!-- CONTAINER FOR MINI PROFILE CARDS -->
    <div id="profiles" class="flex_container flex_3 mini_profiles_view">
        <!-- MINI PROFILE CARD TEMPLATE -->
        <div class="card_container mini_profile center padding_8">
            <div class="flex_col_container card">
                <div class="flex_col_container profile_info">
                    <img src="imgs/app/avt.svg" id="profile_img"/>
                    <div class="flex_container card_title center">
                        <p class="profile_username center"></p>
                    </div>
                </div>
                <div class="flex_container card_actions pos_right">
                    <label>
                        <b>status:</b>
                        <input type="checkbox" name="status" hidden disabled>
                        <span>
                            <i class="fa-square-o"></i>
                        </span>
                        <span class="status_text"></span>
                    </label>
                    <label class="btn theme_toggle">
                        <input type="checkbox" name="profile_like" hidden>
                        <i class="fa fa-heart"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="flex_container flex_1 intro_container">
        <!--<div class="flex_col_container flex_1 padding_8">-->
        <!--<h1 class="center flex_3 page_title">Singles near you</h1>-->
        <a id="search" class="btn theme_transparent pos_right" href="#/search">
            <i class="fa fa-search"></i>
        </a>
        <form name="search" class="flex_container full_width" style="display: none">
            <label class="flex_container flex_2">
                <input type="text" name="search" placeholder="Enter keyword" style="color: #4c1018;" class="criteria">
                <input type="submit" value="search" class="btn theme" style="width: auto">
            </label>
            <fieldset class="flex_container flex_1">
                <legend>Search:</legend>
                Usernames
                <input type="checkbox" value="username" name="usernames" title="usernames" class="criteria" checked>
                <!--First-names<input type="checkbox" value="first_name">
                Last-names<input type="checkbox" value="last_name">
                location<input type="checkbox" value="location">-->
            </fieldset>
        </form>
        <!--</div>-->
    </div>
</div>
<!-- PROFILE VIEWING MODAL -->
<div class="modal full_size">
    <!-- MODAL'S CONTENT CONTAINER -->
    <div id="" class="flex_col_container modal_content card_container">
        <button class="theme btn modal_close">
            <i class="fa fa-close"></i>
        </button>
        <div class="margin_tb_24 flex_container">
            <h1 class="center info_uname"></h1>
        </div>
        <div class="flex_container">
            <div class="flex_col_container padding_8 flex_1">
                <img src="imgs/app/avt.svg" class="circle center info_dp">
            </div>
            <div class="flex_2 flex_col_container">
                <div class="card padding_long margin_4">
                    <p><b>First-name: </b><span class="info_fname"> Kenneth </span></p>
                    <p><b>Last-name: </b><span class="info_lname"> Dean </span></p>
                    <p><b>Sex: </b><span class="info_sex"> Male </span></p>
                    <p><b>I like: </b><span class="info_pref"> Women </span></p>
                    <p><b>About me: </b>
                        <textarea class="info_bio" placeholder="I 'match-ya'" disabled></textarea>
                    </p>
                </div>
                <div class="card padding_8 margin_4">
                    <p><b>Likes: </b><span class="profile_likes"> 19 </span></p>
                    <p><b>Matches: </b><span class="profile_matches"> 9 </span></p>
                    <p><b>Rating: </b><span class="profile_rating"> 7/10 </span></p>
                </div>
                <br>
                <div class="padding_8">
                    <label class="btn theme_toggle">
                        <input type="checkbox" name="profile_like" hidden>
                        <i class="fa fa-heart"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>